<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>製造部売上管理システム：案件登録</p>
<form class="item" th:action="@{/create}" th:object="${DataRequest}" th:method="post">
<div class="pulldownadd">
<dl>
		<dt>顧客*：</dt>
		<dd>
		<select class="clientselect" name="nameid" required="required">
		<option></option>
		<option th:each="clientname: ${clientdd}" th:value="${clientname.nameid}" th:text="${clientname.client}">
		</option>
		</select>
		</dd>

		<dt>受注日：</dt>
		<dd><input type="date" name="orderDate"></dd>

		<dt>S番号：</dt>
		<dd><input type="text" name="sNumber" value="S-" maxlength="6"></dd>

		<dt>件名*:</dt>
		<dd><input type="text" name="subTitle"></dd>

		<dt>数量：</dt>
		<dd><input type="text" name="items" maxlength="5"></dd>

		<dt>納入指定日：</dt>
		<dd><input type="date" name="deliveryDesignatedDate"></dd>

		<dt>納入日</dt>
		<dd><input type="date" name="deliveryDate"></dd>

		<dt>請求日</dt>
		<dd><input type="date" name="billingDate"></dd>

		<dt>見積金額：</dt>
		  <dd><input type="text" name="estimatedAmount" maxlength="12"></dd>

		<dt>受注金額：</dt>
		<dd><input type="text" name="orderAmount" maxlength="12"></dd>

		<dt>ステータス：</dt>
		<dd>
		<!-- ここ未完成だよ -->

		<select id="1" class="clientsteadd" name="statusid">
		<option></option>
		<option th:each="ste1: ${ste1}" th:value="${ste1.statusid}" th:text="${ste1.stname}">
		</option>
		</select>

		<select id="2" class="clientsteadd" name="statusid">
		<option></option>
		<option th:each="ste2: ${ste2}" th:value="${ste2.statusid}" th:text="${ste2.stname}">
		</option>
		</select>

		<select id="3" class="clientsteadd" name="statusid">
		<option></option>
		<option th:each="ste3: ${ste3}" th:value="${ste3.statusid}" th:text="${ste3.stname}">
		</option>
		</select>

		</dd>

		<dt>備考：</dt>
		<dd><textarea name="remark" rows="4" cols="40"></textarea></dd>
</dl></div>

<!--jQueryに変更してね（書き直し）  -->
<script type="text/javascript">
document.addEventListener('DOMContentLoaded',function(){

	//ステータス非表示
	var allSubBoxes=document.getElementsByClassName("clientsteadd");
	for(var i=0; i<allSubBoxes.length;i++){
		allSubBoxes[i].style.display='none';
	}

	//顧客名ごとにステータスを切り替える
	var mainBoxes=document.getElementsByClassName('pulldownadd');
	for(var i=0; i<mainBoxes.length;i++){

		var clientselect=mainBoxes[i].getElementsByClassName("clientselect");

		clientselect[0].onchange=function(){
			var subBox=this.parentNode.getElementsByClassName("clientsteadd");

		for(var j=0;j<subBox.length;j++){
			subBox[j].style.display='none';
		}

		//指定されたステータスの表示
		if(this.value){
			var targetSub=document.getElementById(this.value);
			targetSub.style.display='inline';
		}
		}
	}
});
</script>

<input type="submit" value="確認" style="width:250px;height:20px;">
<a th:href="@{/list}"><button type="button" style="width:250px;height:20px;">戻る</button></a>
</form>
</body>
</html>