<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>製造部売上管理システム：案件登録</p>
<form class="item" th:action="@{/create}" th:object="${DataRequest}" th:method="post">
<dl>
		<dt>顧客*：</dt>
		<dd>
		<select id="clientselect" name="nameid">
		<option></option>
		<option th:each="clientname: ${clientdd}" th:value="${clientname.nameid}" th:text="${clientname.client}">
		</option>
		</select>
		</dd>

		<dt>受注日：</dt>
		<dd><input type="date" name="orderDate"></dd>

		<dt>S番号：</dt>
		<dd><input type="text" name="sNumber" value="S-" maxlength="6"></dd>

		<dt>件名*:</dt>
		<dd><input type="text" name="subTitle"></dd>

		<dt>数量：</dt>
		<dd><input type="text" name="items" maxlength="5"></dd>

		<dt>納入指定日：</dt>
		<dd><input type="date" name="deliveryDesignatedDate"></dd>

		<dt>納入日</dt>
		<dd><input type="date" name="deliveryDate"></dd>

		<dt>請求日</dt>
		<dd><input type="date" name="billingDate"></dd>

		<dt>見積金額：</dt>
		  <dd><input type="text" name="estimatedAmount" maxlength="12"></dd>

		<dt>受注金額：</dt>
		<dd><input type="text" name="orderAmount" maxlength="12"></dd>

		<dt>ステータス：</dt>
		<dd><select id="selectedSt" name="statusid">
		<option th:each="item:${selectSt}" th:value="${item.value}"  th:text="${item.key}"></option>
		</select></dd>
		<!--  <dd>
		<select name="steta">
		<option th:value="" th:text=""></option></select>
		<script type="text/javascript" th:inline="javascript">
		window.onload=function(){
			steta=document.getElumentById("steta");

			nameid=document.getElementById("nameid");

			nameid.onchange=chabgeNameid;
		}

		function changeNameid(){
			var changedNameid=nameid.value;

			if(changedNameid=="1"){
				setClient1();
			}else{
				setClient2();
			}
		}

		function setClient1(){
			var client1=[
				{cd:"",label:"選択してください"},
				{cd:"",label:""}
			];

			client.forEach(function(value){
				var op=document.createElement("option");
				op.value=value.cd;
				op.text=value.label;
				client.appendChild(op);
			});
		}
		</script>
		</dd>-->

		<dt>備考：</dt>
		<dd><textarea name="remark" rows="4" cols="40"></textarea></dd>
</dl>

<input type="submit" value="確認" style="width:250px;height:20px;">
<a th:href="@{/list}"><button type="button" style="width:250px;height:20px;">戻る</button></a>
</form>
</body>
</html>