<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/NewFile.css}"/>
<meta charset="UTF-8">
<title>製造部売上管理システム：案件登録</title>
</head>
<body>
<h1>製造部売上管理システム：案件登録</h1>
<form class="item" th:action="@{/creat}" th:object="${dataRequest}" th:method="post">
<dl>
		<dt>顧客*：</dt>
		<dd th:each="cn:${clientname}" th:object="${clientname}" th:text="${cn.client}"></dd>

		<dt>受注日：</dt>
		<dd th:if="*{orderDate}==null">&nbsp;</dd>
		<dd th:unless="*{orderDate}==null" th:text="*{orderDate}"></dd>

		<dt>S番号：</dt>
		<dd th:if="*{sNumber}==null">&nbsp;</dd>
		<dd th:unless="*{sNumber}==null" th:text="*{sNumber}"></dd>

		<dt>件名*:</dt>
		<dd th:text="*{subTitle}"></dd>

		<dt>数量：</dt>
		<dd th:if="*{items}==null">&nbsp;</dd>
		<dd th:unless="*{items}==null" th:text="${#numbers.formatInteger(dataRequest.items,1,'COMMA')}">式</dd>

		<dt>納入指定日：</dt>
		<dd th:if="*{deliveryDesignatedDate}==null">&nbsp;</dd>
		<dd th:unless="*{deliveryDesignatedDate}==null" th:text="*{deliveryDesignatedDate}"></dd>

		<dt>納入日</dt>
		<dd th:if="*{deliveryDate}==null">&nbsp;</dd>
		<dd th:unless="*{deliveryDate}==null" th:text="*{deliveryDate}"></dd>

		<dt>請求日</dt>
		<dd th:if="*{billingDate}==null">&nbsp;</dd>
		<dd th:unless="*{billingDate}==null" th:text="*{billingDate}"></dd>

		<dt>見積金額：</dt>
		<dd th:if="*{estimatedAmount}==null">&nbsp;</dd>
		<dd th:unless="*{estimatedAmount}==null" th:text="'￥'+${#numbers.formatInteger(dataRequest.estimatedAmount,1,'COMMA')}"></dd>

		<dt>受注金額：</dt>
		<dd th:if="*{orderAmount}==null">&nbsp;</dd>
		<dd th:unless="*{orderAmount}==null" th:text="'￥'+${#numbers.formatInteger(dataRequest.orderAmount,1,'COMMA')}"></dd>

		<dt>ステータス：</dt>
		<dd th:switch="*{nameid}">
		<p th:case="1" th:each="sta1:${sta1}" th:object="${client1Ste}" th:text="${sta1.stname}"></p>
		<p th:case="2" th:each="sta2:${sta2}" th:object="${client2Ste}" th:text="${sta2.stname}"></p>
		<p th:case="3" th:each="sta3:${sta3}" th:object="${client3Ste}" th:text="${sta3.stname}"></p>
		<p th:case="*" >&nbsp;</p>
		</dd>

		<dt>備考：</dt>
		<dd th:if="*{remark}==null">&nbsp;</dd>
		<dd th:unless="*{remark}==null" th:text="*{remark}"></dd>
</dl>
<br/>
<br/>
<input type="hidden" name="nameid" th:field="*{nameid}">
<input type="hidden" name="orderDate" th:field="*{orderDate}">
<input type="hidden" name="sNumber" th:field="*{sNumber}">
<input type="hidden" name="subTitle" th:field="*{subTitle}">
<input type="hidden" name="items" th:field="*{items}">
<input type="hidden" name="deleveryDesignatedDate" th:field="*{deliveryDesignatedDate}">
<input type="hidden" name="deliveryDate" th:field="*{deliveryDate}">
<input type="hidden" name="billignDate" th:field="*{billingDate}">
<input type="hidden" name="estimatedAmount" th:field="*{estimatedAmount}">
<input type="hidden" name="orderAmount" th:field="*{orderAmount}">
<input type="hidden" name="statusid" th:field="*{statusid}">
<input type="hidden" name="remark" th:field="*{remark}">

<input type="submit" value="登録" style="width:250px;height:20px;">
<a th:href="@{/add}"><button type="button" style="width:250px;height:20px;">戻る</button></a>
</form>
</body>
</html>