<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/NewFile.css}"/>
<meta charset="UTF-8">
<title>一覧</title>
</head>
<body>
<p>いちらんになるよていのぺーじ</p>
<!-- 登録ボタン -->
	<div class="menu">
	<div class="add">
		<a th:href="@{/add}"><button type="button" style="width:200px">新規登録できるよ</button></a>
	</div>
	</div>
<br/>
<!--  <p>ID=1の編集</p>
<!-- 編集ボタン -
<form th:action="@{/{id}/edit(id=1)}" th:method="post">
				<input type="hidden" name="id" th:value="1">
				<input type="submit" value="id=1を編集前の奴"></form>
-->
<table>
<tr>
<th>ID</th>
<th>nameID</th>
<th></th>
<th></th>
</tr>
<tr th:each="user,nameStat : ${userlist}" th:object="${data}">
<td th:text="${data.id}"></td>
<td th:text="${data.nameid}"></td>
<td>
<form th:action="@{/{id}/edit(id=*{id})}" th:method="post">
<input type="hidden" name="id" th:value="${data.id}">
<input type="submit" value="編集">
</form></td>
<td>
<form th:action="@{/{id}/delete(id=*{id})}" th:method="post">
<input type="hidden" name="id" th:value="${data.id}">
<input type="submit" value="削除"></form>
</td>
</tr>
</table>
</body>
</html>