<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/NewFile.css}"/>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<title>製造部売上管理システム：案件一覧</title>
</head>
<body>
<h1>製造部売上管理システム：案件一覧</h1>
<!-- 登録ボタン -->
	<div class="menu">
	<div class="add">
		<a th:href="@{/add}"><button type="button" style="width:200px">新規登録</button></a>
	</div>
		<!-- 住所検索 -->
	<div class="searchs">
	<form class="seach" th:action="@{/seachlist}" th:object="${DataRequest}" th:method="post">
	<div class="seachname">
	<ul class="seachna">
	<li>検索</li>
	</ul>
	</div>
	<div class="serch">
	<ul class="clientSt">
	<li >顧客名：</li>
	<li><select name="nameidkw" >
		<option th:value="0"></option>
		<!-- <option th:each="clientname: ${clientdd}" th:class="${clientname.nameid}" th:value="${clientname.nameid}" th:text="${clientname.client}">
		</option> -->
		<option th:each="clientname: ${clientdd}" th:class="${clientname.nameid}" th:value="${clientname.nameid}" th:text="${clientname.client}" th:selected="${clientname.nameid==nameidkw}">
		</option>
		</select></li></ul>
	<ul class="statusSt">
	<li>ステータス：</li>
	<li><select name="statusidkw">
		<option th:value="99"></option>
		<option th:each="ste1: ${ste1}" th:class="1" th:value="${ste1.statusid}" th:text="${ste1.stname}" th:selected="${ste1.statusid==statusidkw}">
		</option>
		<option th:each="ste2: ${ste2}" th:class="2" th:value="${ste2.statusid}" th:text="${ste2.stname}">
		</option>
		<option th:each="ste3: ${ste3}" th:class="3" th:value="${ste3.statusid}" th:text="${ste3.stname}">
		</option>
		</select></li>
		</ul>
		</div>
	<div class="sarch">
	<ul class="seachsubTitle">
	<li>件名：<input class="seachword" type="text" name="keyword" th:value="${keyword}" style="width:200px"></li>
	<li style="float:right;"><input class="sss" type=submit value="検索" style="width:204px">
	</li>
	</ul>
	</div>
	</form>
	</div>
	</div><!-- <div class="seachsubTitle">件名：</div>
	<div class="seachsubTitle"><input class="seachword" type="text" name="keyword" th:value="${keyword}" style="width:200px">
	<input class="sss" type=submit value="検索" style="width:204px">
	</div>-->

<br/>
<script>
$(function() {

	// 国名が変更されたら発動
	$('select[name="nameidkw"]').change(function() {

		// 選択されている国のクラス名を取得
		var countyName = $('select[name="nameidkw"] option:selected').attr("class");
		console.log(countyName);

		// 都市名の要素数を取得
		var count = $('select[name="statusidkw"]').children().length;

		// 都市名の要素数分、for文で回す
		for (var i=0; i<count; i++) {

			var statusidkw = $('select[name="statusidkw"] option:eq(' + i + ')');

			if(statusidkw.attr("class") === countyName) {
				// 選択した国と同じクラス名だった場合

				// 都市の要素を表示
				statusidkw.show();
			}else {
				// 選択した国とクラス名が違った場合

				// 都市の要素を非表示
				statusidkw.hide();
			}
		}
	})
})
</script>
<!-- ページング -->

	<div th:fragment='paginationbar'>
	<ul>
	<li th:class="${page.firstPage}?'disabled':''" style="display:inline">
    <span th:if='${page.firstPage}'>＜＜</span>
    <a th:if='${not page.firstPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},size=${page.size})}'>＜＜</a>
    </li>
	<li th:class="${page.hasPreviousPage}? '' :'disabled'" style="display:inline">
	<span th:if='${not page.hasPreviousPage}'>＜</span>
	<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.number-2},size=${page.size})}'>＜</a>
	</li>
	<li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
	<span th:if='${item.current}' th:text='${item.number}'>1</span>
	<a th:if='${not item.current}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${item.number-1},size=${page.size})}'>
    <span th:text='${item.number}'>1</span>
    </a>
	</li>
	<li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
    <span th:if='${not page.hasNextPage}'>＞</span>
    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.number},size=${page.size})}'>＞</a>
    </li>
    <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
    <span th:if='${page.lastPage}'>＞＞</span>
    <a th:if='${not page.lastPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.totalPages - 1},size=${page.size})}'>＞＞</a>
    </li>
	</ul></div>

<table border="1">
<tr bgcolor="#8490c8">
<th>No</th>
<th>顧客名</th>
<th>受注日</th>
<th>S番号</th>
<th>件名</th>
<th>数量</th>
<th>納入指定日/納入日</th>
<th>請求日</th>
<th>見積金額/受注金額</th>
<th>ステータス</th>
<th></th>
<th></th>
</tr>
<tr th:each="datalist,nameStat:${listdate}" th:object="${datalist3}">
<td th:text="${nameStat.count}+${page.size}*(${page.number}-1)"></td>
<td th:text="${datalist.client}"></td>
<td th:text="${datalist.orderdate}"></td>
<td th:text="${datalist.snumber}"></td>
<td th:text="${datalist.subtitle}"></td>
<td th:if="${datalist.items}!=0" th:text="${#numbers.formatInteger(datalist.items,1,'COMMA')}+'式'"></td>
<td th:unless="${datalist.items}!=0"></td>
<td th:text="${datalist.deliveryDesignatedDate}+'/'+${datalist.deliveryDate}"></td>
<td th:text="${datalist.billingDate}"></td>
<td th:text="'￥'+${#numbers.formatInteger(datalist.estimatedAmount,1,'COMMA')}+'/￥'+${#numbers.formatInteger(datalist.order_amount,1,'COMMA')}"></td>
<td th:text="${datalist.stname}"></td>
<td>
<form th:action="@{/{id}/edit(id=${datalist.id})}" th:method="post">
<input type="hidden" name="id" th:value="${datalist.id}">
<input type="hidden" name="client" th:value="${datalist.client}">
<input type="submit" value="編集">
</form>
</td>
<td>
<form th:action="@{/{id}/delete(id=${datalist.id})}" th:method="post">
<input type="hidden" name="id" th:value="${datalist.id}">
<input type="hidden" name="client" th:value="${datalist.client}">
<input type="submit" value="削除"></form>
</td>

</tr>
</table>


<!-- ページング -->

	<div th:fragment='paginationbar'>
	<ul>
	<li th:class="${page.firstPage}?'disabled':''" style="display:inline">
    <span th:if='${page.firstPage}'>＜＜</span>
    <a th:if='${not page.firstPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=0,size=${page.size})}'>＜＜</a>
    </li>
	<li th:class="${page.hasPreviousPage}? '' :'disabled'" style="display:inline">
	<span th:if='${not page.hasPreviousPage}'>＜</span>
	<a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.number-2},size=${page.size})}'>＜</a>
	</li>
	<li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''" style="display:inline">
	<span th:if='${item.current}' th:text='${item.number}'>1</span>
	<a th:if='${not item.current}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${item.number-1},size=${page.size})}'>
    <span th:text='${item.number}'>1</span>
    </a>
	</li>
	<li th:class="${page.hasNextPage}? '' : 'disabled'" style="display:inline">
    <span th:if='${not page.hasNextPage}'>＞</span>
    <a th:if='${page.hasNextPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.number},size=${page.size})}'>＞</a>
    </li>
    <li th:class="${page.lastPage}? 'disabled' : ''" style="display:inline">
    <span th:if='${page.lastPage}'>＞＞</span>
    <a th:if='${not page.lastPage}' th:href='@{${page.url}(keyword=${keyword},nameidkw=${nameidkw},statusidkw=${statusidkw},page=${page.totalPages - 1},size=${page.size})}'>＞＞</a>
    </li>
	</ul></div>

<!-- 登録ボタン -->
	<div class="menu">
	<div class="add">
		<a th:href="@{/add}"><button type="button" style="width:200px">新規登録</button></a>
	</div>
	</div>
</body>
</html>